@import 'globals';

.Game {
    height: 100vh;
    padding-top: 3.4rem;
    margin-bottom: 0;
    background-color: white;

    .knockout-background {
        position: absolute;
        width: 100%;
        height: calc(100% - 3.4rem);
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 100;
    }

    .timer {
        position: relative;
        width: 100%;
        float: left;
        padding: 1.5rem 2rem;
        background-color: #FAB7BF;
        margin-bottom: 2rem;
        font-size: 3rem;
        line-height: 3rem;
        text-align: center;
        font-weight: bold;

        &-spin {
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            bottom: 0;
            left: 0;
            background-color: $primary-color;

            &.knockout-spin {
                top: 0;
            }
        }

        &.knockout {
            position: absolute;
            bottom: 0;
            padding: 1.5rem 0 0;
            margin-bottom: 0;
            font-size: 2rem;
            line-height: 2rem;
            z-index: 200;

            .knockout-title {
                float: left;
                font-size: 1rem;
                margin-left: 1rem;
            }

            span {
                float: right;
                margin-right: 1rem;
            }

            .btn {
                margin-top: 1.5rem;
                margin-bottom: 0;
            }
        }
    }

    .name {
        width: 100%;
        text-align: center;
    }

    .points {
        width: 100%;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .btn {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
    }
}
