.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #AB1E2F;
    z-index: 5000;

    &-gif {
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }
}
