@import 'globals';

body {
    background-color: $primary-color;
}

.Header {
    box-shadow: none;
}

.Login {
    .qrcode {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h4 {
            margin-bottom: 2rem;
            color: white;
        }
    }
}
