@import 'globals';

.Timeline {
    float: left;
    width: 100%;
    padding-top: 3.4rem;
    margin-bottom: 0;
    background-color: white;
    min-height: 100vh;

    > .col:first-child {
        position: fixed;
        min-height: calc(100vh - 3.4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    > .col:last-child {
        margin-top: calc(100vh - 3.4rem);
    }

    .winner {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
        font-size: 3.5rem;

        div {
            position: relative;
            font-size: 2rem;
        }
    }

    & > div {
        float: left;
        width: 100%;
    }

    .timelist {
        position: relative;
        float: left;
        width: 100%;
        background-color: white;

        &:before {
            content: ' ';
            position: absolute;
            background-color: $primary-color;
            top: 0;
            bottom: 0;
            width: 2px;
            left: calc(50% - 1px);
        }
    }

    .action {
        position: relative;
        float: left;
        width: calc(50% - 1rem);
        margin: 1rem;
        border-radius: 5px;
        padding: 1rem;

        .judge {
            margin-top: 0.5rem;

            &-on {
                color: green;
            }
            &-off {
                color: gray;
            }
        }

        &.false {
            color: gray;
            text-decoration: line-through;
        }

        &.left {
            text-align: right;
            margin-right: 50%;
            padding-right: 2.25rem;

            .time {
                right: -1.25rem;
            }
        }
        &.right {
            margin-left: 50%;
            padding-left: 2.25rem;

            .time {
                left: -1.25rem;
            }
        }
        &.all {
            width: 70%;
            text-align: center;
            margin-left: 15%;
            margin-top: 0;
            background-color: white;
            font-size: 1.5rem;
            margin-bottom: 0;

            .time {
                display: none;
            }
            .judge {
                display: none;
            }
        }

        .time {
            position: absolute;
            line-height: 1.5rem;
            border-radius: 50%;
            background-color: $primary-color;
            padding: 0.5rem;
            font-size: 0.7rem;
            top: calc(50% - 1.25rem);
            color: white;
            font-weight: bold;
        }
    }

    .points {
        float: left;
        width: 100%;

        div {
            float: left;
            width: 50%;

            label {
                float: left;
                width: 100%;
                text-align: center;
            }

            span {
                float: left;
                width: 100%;
                text-align: center;
                font-size: 4rem;
                line-height: 5rem;
                font-weight: bold;
                margin-bottom: 2rem;
            }
        }
    }

    .button-timeline {
        position: fixed;
        bottom: 1rem;
        left: 0;
        width: 100%;
        text-align: center;

        a {
            color: $primary-color;
        }

        .material-icons {
            position: relative;
            animation: jump 1.2s infinite ease-in;
        }
    }
}

@media only screen and (min-width: 601px) {
    .Timeline > .col:last-child {
        margin-top: 0;
    }

    .button-timeline {
        display: none;
    }
}

@keyframes jump {
    0% { top: -2px; }
    50% { top: 5px; }
    100% { top: -2px; }
}
