@import 'globals';

.Waiting {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: green;
    z-index: 200;
    flex-direction: column;
    transition: 0.3s background ease;

    .btn {
        position: absolute;
        font-size: 1.2rem;
        bottom: 2rem;
        height: 4rem;
        width: calc(100% - 4rem);
    }

    &-text {
        color: white;
        font-size: 2.5rem;
        padding: 2rem;
        text-align: center;
    }

    &.true {
        background-color: green;

        .btn {
            background-color: $primary-color;
        }
    }

    &.false {
        background-color: $primary-color;

        .btn {
            background-color: green;
        }
    }
}
